$main-color: #cb7104;
$color-search: #cb71045c;

header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(247, 243, 241, 0.618);
    width: 100%;
    .header-around{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        height: 85px; 
        .img{
        height: 70%;
            img{
                height: 100%;
            }
        }
        .nav1{
            display: flex;
                gap: 32px;
                font-weight: 600;
                li{
                    list-style: none;
                    &:hover{
                        color: $main-color;
                        cursor: pointer;
                    }
                }
        }
        .nav2{
            display: flex;
            gap: 15px;
            margin-right: 20px;
            li{
                list-style: none;
                img{
                    height: 20px;
                }
                cursor: pointer;
            }
        }
    }
}
.nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 85px;
    left: 0;
    &__around{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: white;
        width: 1200px;
        padding: 20px;
        box-shadow: 0 0 10px 1px rgba(162, 162, 162, 0.545);
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            bottom: 99%;
            left: 500px;
            width: 130px;
            height: 85px;
            cursor: pointer;
        }
        .nav3_list{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            li{
                list-style: none;
                font-weight: 400;
                font-size: 15px;
                &:hover{
                  color: $main-color;
                }
            }
            .name-list{
                color: $main-color;
                font-weight: 700;
            }
        }
        .nav3__img{
            grid-column-start: 4;
            grid-row: 1/4;
        }
    }
}
.nav3-start{
    animation: nav3-start .5s 0s forwards linear;
}
.nav3-end{
    animation: nav3-end .5s 0s forwards linear;
}

.search-component{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-search;
    opacity: 1;
    width: 100%;
    height: 100vh;
    animation: search-component-bg-start 0.5s 0s forwards linear;
    // animation: nav3-start .5s 0s forwards linear;
    .search{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(247, 243, 241);
        width: 400px;
        height: 100%;
        margin-left: auto;
        margin-right: 0;
        padding: 15px 15px 50px;
        .x-icon{
            display: flex;
            justify-content: end;
            width: 100%;
            height: 20px;
            img{
                height: 100%;
            }
        }
        &_form{
            border: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            padding: 5px 15px;
            border-radius: 6px;
            input{
                flex: 1;
                background-color: rgb(247, 243, 241);
                border: unset;
                outline: unset;
                font-size: 14px;
            }
            label{
                height: 20px;
                img{
                    height: 100%;
                }
            }
        }
        &_list{
            h3{
                font-size: 20px;
                font-weight: 700;
                &::after{
                    content: "";
                    display: block;
                    background-color: $main-color;
                    width: 40%;
                    height: 3px;
                    margin-top: 4px;
                }
            }
            .list-items{
                li{
                    display: flex;
                    margin-top: 10px;
                    list-style: none;
                    .item-img{
                        aspect-ratio: 1;
                        height: 90px;
                        background-color: #d0bcbc66;
                        position: relative;
                        .img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .item-des{
                        margin-left: 10px;
                        font-weight: 600;
                        .name{
                            font-size: 15px;
                            height: 44px;
                            overflow-y: hidden;
                        }
                        .price{
                            margin-top: 10px;
                            color: red;
                            font-size: 13px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}

@keyframes nav3-start {
  from{
      top: 90px;
      opacity: 0;
  }
  to{
      top: 85px;
      opacity: 1;
  }
}
@keyframes nav3-end {
  from{
      top: 85px;
      opacity: 1;
  }
  to{
      top: 90px;
      opacity: 0;
  }
}

@keyframes search-component-bg-start {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes search-component-bg-start {
    from{}
    to{}
}
@keyframes search-component-start {
    from{}
    to{}
}
@keyframes search-component-start {
    from{}
    to{}
}